* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Fira Sans', sans-serif;
        text-decoration: none;
        list-style-type: none;
}

:root {
        --navdark: #fcfcfc;
        --navtext: #6b7280;
        --navtexthover: #0c0f15;
        --navhoverbground: #d7d7d7;
        --globalwhite: #ffffff;
        --btnColor: #f9fafbc3;

}


/* animation */


/* nav-section */

.background-color-custom {
        background: rgb(219, 215, 251);
        background: linear-gradient(90deg, rgba(219, 215, 251, 1) 0%, rgb(244, 212, 250) 35%, rgba(243, 244, 246, 1) 100%);


}

.ulmainWrpapper {
        /* background-color: var(--navdark); */
        background-color:
                /* From https://css.glass */
                rgba(255, 255, 255, 0.02);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(11, 8, 8, 0.1);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(3.8px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        ;
        border-radius: 26px;
        width: 55%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.ulmainWrpapper>li>a {
        color: var(--navtext) !important;
}

.ulmainWrpapper>li>a:hover {
        color: var(--navtexthover) !important;
}

.navbarSliders:hover {
        border-radius: 16px;
        background-color: var(--navhoverbground);
}

.parentImagewrapper {
        height: 100px;
        width: 100px;
        border: 5px solid #ffffff;
        border-radius: 50px;
        /* object-fit: fill; */
}


.herosButton {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
}

.imageWrapper {
        /* border: 1px solid red; */
        height: 91px;
        width: 96px;
        max-width: 100%;
        border-radius: 50px;
        object-fit: cover;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(214, 221, 226, 0.15) 0px 1px 3px 1px;

}

.downloadButton {
        background-color: var(--navtexthover) !important;
        color: var(--globalwhite) !important;
        /* width: 22%; */
        padding: 9px;
        margin: 4px;

}

.downloadButton>a {
        font-size: 1.3rem;
        font-weight: 550;
}

.herosFont {
        font-size: 34px;
        line-height: 50px;
        color: #111827;
}

.cvButton {
        background-color: var(--navdark) !important;
        color: var(--navtexthover) !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        padding: 11px 12px;
        margin: 4px;
}

.cvButton>a {
        font-size: 1.2rem;
        font-weight: 550;

}



.hibtn {
        position: relative;
}

.hibtnDiv {
        position: absolute;
        bottom: 1%;
        left: 62%;
        font-size: 30px;
}

.card-wrapper {
        width: 20vw;
        height: 20vh;
        border: 1px solid red;
}

.card-1 {
        /* background-image: url(./assets/olx-card.png); */
        background-size: 200px 200px;
        background-repeat: no-repeat;

}

/* card templates */


h1 {
        color: #fff;
}

.lead {
        /* color:#aaa; */
}

.wrapper {
        margin: 7vh
}


.card {
        border: none;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        overflow: hidden;
        border-radius: 20px;
        min-height: 260px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
        &.card-has-bg {
                transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
                background-size: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(./assets/olx-card.png);
                background-size: contain;      
        }
        .card-footer {
                background: none;
                border-top: none;

                }
                } 
     
.btn-pink{
        background-color: rgb(255, 194, 255);
        border: none;
        outline: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* Time-line section */
body {	
  margin: 0;
  padding: 0;
  background: rgb(230,230,230);
  
  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.3%;
  line-height: 1.6em;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}



/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

/* @media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

} */

/* +++++++++++++++++++++++++++++media-queries+++++++++++++++++++++++++++++++++++ */

.herosFont {
        font-size: 1rem;
        /* text-align: center; */
        width: 100%;
        line-height: 25px;
        padding: 20px 0 0 0;
        font-size: 1.4rem;
        font-weight: 550;
        line-height: 6vh;
}

.custom-width {
        width: 80vw !important;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 2.2rem;
}

.rounded-circle {
        /* width: 20px; */
        /* padding: 20px; */
        font-size: 40x;
        /* padding: 30px; */
        padding: 0px !important;
        margin: 0px !important;
        color: none;
}

.cvButton {
        width: 200px;
}

.about-heading-wrapper {
        font-size: 2rem;
        width: 100%;
        padding: 0 !important;
}

.about-section {
        width: 100% !important;

}

.about-text-wrapper>p {
        font-size: 1.1rem;
        text-align: center;

}