* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Fira Sans', sans-serif;
}

:root {
        --navdark: #fcfcfc;
        --navtext: #6b7280;
        --navtexthover: #0c0f15;
        --navhoverbground: #d7d7d7;
        --globalwhite: #ffffff;
        --btnColor: #f9fafbc3;

}

/* nav-section */

.background-color-custom {
        background: rgb(219, 215, 251);
        background: linear-gradient(90deg, rgba(219, 215, 251, 1) 0%, rgb(244, 212, 250) 35%, rgba(243, 244, 246, 1) 100%);


}

.ulmainWrpapper {
        background-color: var(--navdark);
        border-radius: 26px;
        width: 55%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.ulmainWrpapper>li>a {
        color: var(--navtext) !important;
}

.ulmainWrpapper>li>a:hover {
        color: var(--navtexthover) !important;
}

.navbarSliders:hover {
        border-radius: 16px;
        background-color: var(--navhoverbground);
}

.parentImagewrapper {
        height: 100px;
        width: 100px;
        border: 5px solid #ffffff;
        border-radius: 50px;
        /* object-fit: fill; */
}


.herosButton {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
}

.imageWrapper {
        /* border: 1px solid red; */
        height: 91px;
        width: 96px;
        max-width: 100%;
        border-radius: 50px;
        object-fit: cover;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(214, 221, 226, 0.15) 0px 1px 3px 1px;

}

.downloadButton {
        background-color: var(--navtexthover) !important;
        color: var(--globalwhite) !important;
        /* width: 22%; */
        padding: 9px;
        margin: 4px;

}

.downloadButton>a {
        font-size: 1.3rem;
        font-weight: 550;
}

.herosFont {
        font-size: 34px;
        line-height: 50px;
        color: #111827;
}

.cvButton {
        background-color: var(--navdark) !important;
        color: var(--navtexthover) !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        padding: 11px 12px;
        margin: 4px;
}

.cvButton>a {
        font-size: 1.2rem;
        font-weight: 550;

}



.hibtn {
        position: relative;
}

.hibtnDiv {
        position: absolute;
        bottom: 1%;
        left: 62%;
        font-size: 30px;
}




/* +++++++++++++++++++++++++++++media-queries+++++++++++++++++++++++++++++++++++ */

.herosFont {
        font-size: 1rem;
        /* text-align: center; */
        width: 100%;
        line-height: 25px;
        padding: 20px 0 0 0;
        font-size: 1.4rem;
        font-weight: 550;
        line-height: 6vh;
}

.custom-width {
        width: 80vw !important;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 2.2rem;
}

.rounded-circle {
        /* width: 20px; */
        /* padding: 20px; */
        font-size: 40x;
        /* padding: 30px; */
        padding: 0px !important;
        margin: 0px !important;
        color: none;
}

.cvButton {
        width: 200px;
}

.about-heading-wrapper {
        font-size: 2rem;
        width: 100%;
        padding: 0 !important;
}

.about-section {
        width: 100% !important;

}

.about-text-wrapper>p {
        font-size: 1.1rem;
        text-align: center;

}